<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>
<body>
	<h1>{{title}}</h1>
	<p>
		<strong>Inherits:</strong>
		{% for parent in parents -%}
			<a href="{{parent}}.html">{{parent}}</a>
			{%- if not loop.last -%}
				&nbsp;&lt;&nbsp;
			{%- endif -%}
		{%- endfor %}
	</p>
	<h2>Brief Description</h2>
	<p>{{brief_description}}</p>
	{% if methods %}
	<h2>Member Functions</h2>
	<table border="1">
	<tbody class="methods">
		{% for method in methods -%}
		<tr>
			<td>
			{%- if method.return in ["void", "var"] -%}
				{{method.return}}
			{%- else -%}
				<a href="{{method.return}}.html">{{method.return}}</a>
			{%- endif -%}
			</td>
			<td><a href="#m_{{method.name}}_{{method.cnt}}" class="method_link">{{method.name}}</a> ( {% call _j_print_args(method.arguments) %}{% endcall %} )</td>
		</tr>

		{%- endfor %}
	</tbody>
	</table>
	{%- endif -%}
	{%- if signals %}
	<h2>Signals</h2>
	{% for signal in signals -%}
		<li>
			<a name="//apple_ref/Subroutine/{{signal.name}}" class="dashAnchor" id="s_{{signal.name}}">
				<strong>{{signal.name}}</strong>
			</a>
			( {% call _j_print_args(signal.arguments) %} {% endcall %} ):<br /> {{signal.description}}
		</li>
	{%- endfor %}
	{%- endif %}
	{%- if fields %}
	<h2>Member Variables</h2>
	{% for field in fields -%}
		<li>
			{{field.type}} <strong id="f_{{field.name}}">
				<a name="//apple_ref/Field/{{field.name}}" class="dashAnchor">
					{{field.name}}
				</a>
			</strong>:<br /> {{field.description}}
		</li>
	{%- endfor %}
	{%- endif %}
	{%- if None in consts -%}
	<h2>Numeric Constants</h2>
		{% for const in consts[None] -%}
		<li>
			<strong>{{const.name}} = {{const.value}}</strong>:<br /> {{const.description}}
		</li>
		{%- endfor %}
	{%- endif -%}
	{%- if (None in consts and consts|length > 1) or consts %}
	<h2>Enums</h2>
		{% for enum in consts -%}
			{%- if enum -%}
				<p>enum <a name="//apple_ref/Enum/{{enum}}" class="dashAnchor"><strong id="e_{{enum}}">{{enum}}</strong></a></p>
				{% for const in consts[enum] -%}
				<li>
					<a name="//apple_ref/Constant/{{const.name}}" class="dashAnchor">
						<strong id="c_{{const.name}}">{{const.name}} = {{const.value}}</strong>
					</a>:<br /> {{const.description}}
				</li>
				{%- endfor %}
			{%- endif -%}
		{%- endfor %}
	{%- endif -%}
	<h2>Description</h2>
	<p>{{description}}</p>
	{%- if methods -%}
	<h2>Member Function Description</h2>
		{%- for method in methods -%}
		<li>
			{%- if method.return in ["void", "var"] -%}
				{{method.return}}
			{%- else -%}
				<a href="{{method.return}}.html">{{method.return}}</a>
			{%- endif -%}
			<a name="//apple_ref/Method/{{method.name}}" class="dashAnchor" id="m_{{method.name}}_{{method.cnt}}">
				<strong>{{method.name}}</strong>
			</a> ( {%- call _j_print_args(method.arguments) -%}{%- endcall -%} ) :<br/>
			{{method.description}}
		</li>
		{% endfor %}
	{%- endif -%}
</body>
</html>
